body{
    padding:10px;
}
a:active, a:focus{
    outline:0;
}
a img{
    border:none;
}
#preview{
    background-image:url(../img/Google-YouTube-128.png);
    background-repeat:no-repeat;
    background-position:center center;
    height:auto;
    min-height:135px;
    min-width:240px;
    width:50%;
    margin:0 auto;
}
#insert-btn{
    margin-left:5px;
}
.alert{
    margin-bottom:5px;
    padding:5px;
}
.form-group{
    margin-bottom:0;
}
.alert-info{
    font-size:12px;
}
