<form action="#" method="get" class="form-horizontal">
    <style>
        .form-group{
            margin-top:18px;
            margin-bottom:18px;
        }
    </style>
    <div class="row form-group">
        <label class="col-xs-12" style="text-align:left;" for="youtubeID" id="youtubeurl">Youtube URL:</label>
        <div class="col-xs-12">
            <input class="form-control" id="youtubeID" name="youtubeID" type="text" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-12" for="start">Start at (hh:mm:ss) (leave blank for playing from start):</label>
        <div class="col-xs-2">
            <input class="form-control" id="youtubeStart" name="start" type="text" value="" />
        </div>
        <label class="col-xs-12" for="start">End at (hh:mm:ss) (leave blank for playing till end):</label>
        <div class="col-xs-2">
            <input class="form-control" id="youtubeEnd" name="end" type="text" value="" />
        </div>
    </div>
    <div class="row form-group">
        <label class="col-xs-12" style="text-align:left;">Preview:</label>
        <div class="col-xs-12">
            <div id="preview" class="thumbnail pull-left"></div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-12">
            <button id="insert-btn" class="btn btn-default" type="button" disabled>Insert</button>
        </div>
    </div>
</form>
